@using System.Web;

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MENTEX C.A.</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Adminlte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- iCheck -->
    <link href="~/Adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="~/Adminlte/css/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/Adminlte/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img src="~/Adminlte/img/Iphone-spinner-2.gif" class="animation__shake brand-image img-rounded elevation-3" alt="Mentex C.A." height="40" width="40" />
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index", "Home")" class="nav-link"><i class="fas fa-home"></i>&nbsp;Inicio</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("CerrarSesion", "Wrkf_Login")" class="nav-link"><i class="fas fa-lock"></i>&nbsp;Cerrar Sesión</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-light elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Adminlte/img/LogoWorkflow.png" alt="Mentex C.A." class="brand-image img-rounded elevation-3" style="opacity: .8" />
                <span class="brand-text font-weight-light">MENTEX C.A.</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Adminlte/img/user_undefine160x160.png" class="img-circle elevation-2" alt="User Image" />
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Session["sUsuario_Id"]</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="ulOpcionesMenu">
                        @foreach (var listadomenu in ViewBag.listaropcionesmenu)
                        {
                            <li class="nav - item">
                                <p>
                                    <a href="@Url.Action(@listadomenu.Accionx, @listadomenu.Controladorx)"><i class="@listadomenu.Imagenx"></i>&nbsp;@listadomenu.Menux</a>
                                </p>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <!--<div class="content-wrapper">-->
            <!-- Content Header (Page header) -->
            <!--<div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Panel Principal</h1>
                        </div>--><!-- /.col -->
                        <!--<div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                &nbsp;
                            </ol>
                        </div>--><!-- /.col -->
                    <!--</div>--><!-- /.row -->
                <!--</div>--><!-- /.container-fluid -->
            <!--</div>-->
            <!-- /.content-header -->
            <!-- Main content -->
            <!--<section class="content">
                <div class="container-fluid">-->
                    <!-- Small boxes (Stat box) -->
                    <!--<div class="row">
                        <div class="col-lg-3 col-6">-->
                            <!-- small box -->
                            <!--<div class="small-box bg-info" title="Carga información en el sistema con soportes de orden de pago digital" style="cursor:pointer;">
                                <div class="inner">
                                    <h3>1</h3>
                                    <p>Orden de Pago</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-plus-circled"></i>
                                </div>
                                <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>-->
                        <!-- ./col -->
                        <!--<div class="col-lg-3 col-6">-->
                            <!-- small box -->
                            <!--<div class="small-box bg-success" title="Revisa carga de la ordenes de pago" style="cursor:pointer;">
                                <div class="inner">
                                    <h3>2</h3>
                                    <p>Revisión Orden de Pago</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-search"></i>
                                </div>
                                <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>-->
                        <!-- ./col -->
                        <!--<div class="col-lg-3 col-6">-->
                            <!-- small box -->
                            <!--<div class="small-box bg-warning" title="Revisa los soportes digitales y aprueba la solicitud de orden de pago" style="cursor:pointer;">
                                <div class="inner">
                                    <h3>3</h3>
                                    <p>Aprobar Orden de Pago</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-checkmark-round"></i>
                                </div>
                                <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>-->
                        <!-- ./col -->
                        <!--<div class="col-lg-3 col-6">-->
                            <!-- small box -->
                            <!--<div class="small-box bg-danger" title="Revisa los soportes digitales contra provisión (Jefe de C X P)" style="cursor:pointer;">
                                <div class="inner">
                                    <h3>4</h3>

                                    <p>Pre-Aprobación CxP</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-checkmark-circled"></i>
                                </div>
                                <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>-->
                        <!-- ./col -->
                        <!--<div class="col-lg-3 col-6">-->
                            <!-- small box -->
                            <!--<div class="small-box bg-warning" title="Revisa gastos por rubro y monto" style="cursor:pointer;">
                                <div class="inner">
                                    <h3>5</h3>

                                    <p>Aprobación Contralor</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>-->
                        <!-- ./col -->
                        <!--<div class="col-lg-3 col-6">-->
                            <!-- small box -->
                            <!--<div class="small-box bg-danger" title="Revisa departamentos solicitantes, descripción del gasto, chequera y monto" style="cursor:pointer;">
                                <div class="inner">
                                    <h3>6</h3>
                                    <p>Aprobación Vp Finanzas</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>-->
                        <!-- ./col -->
                    <!--</div>
                </div>
            </section>-->
            <!-- Main content -->
            <!-- /.content -->
        <!--</div>-->
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            @*<strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>All rights reserved.*@
            <div class="float-right d-none d-sm-inline-block">
                <b>WorkFlow Cuentas Por Pagar Version</b> 1.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div> <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Adminlte/plugins/sparklines/sparkline.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Adminlte/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- Summernote -->
    <script src="~/Adminlte/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Adminlte/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Adminlte/js/demo.js"></script>
</body>
</html>
